<div class="navbar navbar-fixed-top m-header">
	<div class="navbar-inner m-inner">
		<div class="container-fluid">
			<a class="brand m-brand" href="/">Admin</a>
			
            <form class="form-search m-search span5">
				<input type="text" placeholder="Type to search" class="span5 search-query">
			</form>

			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        
			<div class="nav-collapse collapse">

				<div class="btn-group pull-right">
			        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		          		<i class="icon-user"></i> Thanh Dang
		          		<span class="caret"></span>
			        </a>
			        <ul class="dropdown-menu">
		          		<li><a href="/profile"><i class="icon-user"></i> Profile</a></li>
		          		<li><a href="/setting"><i class="icon-cog"></i> Settings</a></li>
 		 				<li class="divider"></li>
		          		<li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
			        </ul>
		      	</div>
          	</div>
		</div>
	</div>
</div>
<div class="m-top"></div>