<aside class="sidebar">
	<ul class="nav nav-tabs nav-stacked">
		<li class="active">
			<a href="index.html">
				<div>
					<div class="ico">
						<img src="/assets/img/ico/ico-home.png">
					</div>
					<div class="title">
						Dashboard
					</div>
				</div>

				<div class="arrow">
					<div class="bubble-arrow-border"></div>
					<div class="bubble-arrow"></div>
				</div>
			</a>
		</li>

		<li class="">
			<a href="client.html">
				<div>
					<div class="ico">
						<img src="/assets/img/ico/ico-user.gif">
					</div>
					<div class="title">
						Client
					</div>
				</div>
				<div class="arrow">
					<div class="bubble-arrow-border"></div>
					<div class="bubble-arrow"></div>
				</div>
			</a>
		</li>

		<li class="">
			<a href="#">
				<span class="badge badge-important m-badge-notification">6</span>
				<div>
					<div class="ico">
						<img src="/assets/img/ico/ico-notification.gif">
					</div>
					<div class="title">
						Notification
					</div>
				</div>

				<div class="arrow">
					<div class="bubble-arrow-border"></div>
					<div class="bubble-arrow"></div>
				</div>
			</a>
		</li>

		<li>
			<a href="form.html">
				<div>
					<div class="ico">
						<img src="/assets/img/ico/ico-setting.gif">
					</div>
					<div class="title">
						Setting
					</div>
				</div>
				<div class="arrow">
					<div class="bubble-arrow-border"></div>
					<div class="bubble-arrow"></div>
				</div>
			</a>
		</li>

		<li class="">
			<a href="order.html">
				<div>
					<div class="ico">
						<img src="/assets/img/ico/ico-order.gif">
					</div>
					<div class="title">
						Order
					</div>
				</div>
				<div class="arrow">
					<div class="bubble-arrow-border"></div>
					<div class="bubble-arrow"></div>
				</div>
			</a>
		</li>

		<li class="">
			<a href="media.html">
				<div>
					<div class="ico">
						<img src="/assets/img/ico/ico-media.gif">
					</div>
					<div class="title">
						Media
					</div>
				</div>
				<div class="arrow">
					<div class="bubble-arrow-border"></div>
					<div class="bubble-arrow"></div>
				</div>
			</a>
		</li>

		<li class="">
			<a href="help.html">
				<div>
					<div class="ico">
						<img src="/assets/img/ico/ico-help.gif">
					</div>
					<div class="title">
						Help
					</div>
				</div>
				<div class="arrow">
					<div class="bubble-arrow-border"></div>
					<div class="bubble-arrow"></div>
				</div>
			</a>
		</li>

		<li class="">
			<a href="#more">
				<div>
					<div class="ico">
						<img src="/assets/img/ico/ico-user.gif">
					</div>
					<div class="title">
						User
					</div>
				</div>
				<div class="arrow">
					<div class="bubble-arrow-border"></div>
					<div class="bubble-arrow"></div>
				</div>
			</a>
		</li>

		<li class="">
			<a href="#more">
				<div>
					<div class="ico">
						<img src="/assets/img/ico/ico-report.gif">
					</div>
					<div class="title">
						Report
					</div>
				</div>
				<div class="arrow">
					<div class="bubble-arrow-border"></div>
					<div class="bubble-arrow"></div>
				</div>
			</a>
		</li>

		<li class="">
			<a href="#" id="btn-more">
				<div>
					<div class="ico">
						<img src="/assets/img/ico/ico-more.png">
					</div>
					<div class="title">
						More
					</div>
				</div>
			</a>

		</li>
    </ul>
</aside>
<div class="m-sidebar-collapsed">
	<ul class="nav nav-pills">
		
	</ul>

	<div class="arrow-border">
		<div class="arrow-inner"></div>
	</div>
</div>