{{!< default}}

<div class="main">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="page-login">
					<div class="login-content">
						<form name="frm-login" action="" method="post">
							<div id="signin">
								<h4>Đăng nhập</h4>
								<label>Tên đăng nhập</label>
								<input type="text" name="username">
								<label>Mật khẩu</label>
								<input type="password" name="password">
								<a href="#" id="btn-login" class="btn btn-green-s4">Vừng ơi mở ra</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>