body{
  background:#f5f5f5;
  color:#999;
  font-family:Helvetica,Arial,sans-serif;;
}
.dropdown-menu a,a,.navbar-fix .brand{
  color:#45a1c8;
}
a:hover{
  color:#3a9aa4;
  text-decoration:none;
}
ul,ol {
  margin:0px;
}
li {
  list-style-type:none;
}
/*h1,h2,h3,h4,h5 {
  margin:0px;
}*/
/************** global *************/
.the-icons li {
  float: left;
  width: 25%;
  line-height: 25px;
}
section{
  margin-bottom:20px;
  float:left;
  width:100%;
  display:block;
  * padding-bottom:40px;
}
.well,.form-actions {
  background:#fafafa;
}
table tr,
table td {
  background:#f0f0f0;
}
.docs-input-sizes select,
.docs-input-sizes input[type="text"] {
display: block;
margin-bottom: 9px;
}
.box {
  margin-bottom:20px;
}
.box-header {
  border:1px solid #eee;
  background:#fafafa;
}
.box-header h4{
  margin-left:10px;
  color:#777;
  font-weight:400;
}
.box-body {
  background:#fcfcfc;
  border:1px solid #eee;
  border-top-color:#fff;
  padding:10px;
}
.breadcrumb {
  background:#fff;
  box-shadow:inset 1px 1px 3px #ddd;
}
/***********************************/
/************** header *************/
/***********************************/
.nav-collapse {
  z-index:80;
  background:#222;
}
.navbar-fix .container-fluid {
  padding:0px;
  background:#333;
}
.navbar-fix .brand {
  margin-left:0px;
  color:#fff;
  text-shadow:0px 1px 0px #444;
}
.navbar-fix .nav {
  border-left:1px solid #111;
}
.navbar-fix .nav > li > a {
  text-shadow:none;
  color:#45a1c8;
  padding:10px 12px;
  border-left:1px solid #3d3d3d;
  border-right:1px solid #222;
  text-align: center;
}
.navbar-fix .nav li.dropdown > .dropdown-toggle .caret,
.navbar-fix .nav li.dropdown.open > .dropdown-toggle .caret {
  border-top-color: #45a1c8;
  border-bottom-color: #45a1c8;
}
.navbar-fix .nav li.dropdown.open > .dropdown-toggle,
.navbar-fix .nav > li > a:hover,
.navbar-fix .nav .active > a,
.navbar-fix .nav .active > a:hover {
  text-decoration: none;
  color:#fff;
  background-color: #45a1c8;
  border-left:1px solid #08c;
  border-right:1px solid #08c;
}
.navbar-fix .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-fix .nav > li.dropdown > .dropdown-toggle:hover .caret,
.navbar-fix .nav li.dropdown.open > .dropdown-toggle:hover .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-fix .nav {
  float:right;
  margin:0px;
}
/***************** navbar-fixed-right ********************/
.navbar-fixed-right .form-search {
  margin:10px 0px 10px 10px;
}
.navbar-fixed-right .form-search input{
  width:200px;
}
.navbar-fixed-right {
  position:fixed;
  right:0px;
  top:40px;
  background:#333;
  height:100%;
  z-index:100;
}
.navbar-fixed-right .nav {
  text-align:center;
}
.navbar-fixed-right .nav li a{
  padding:10px 0px;
  border-radius:0px;
  margin:0px;
  border:1px solid #222;
  border-top-color:#3d3d3d;
  border-right-color:#333;
  min-width:38px;
}
.navbar-fixed-right .nav li a:hover,
.navbar-fixed-right .nav .active > a,
.navbar-fixed-right .nav .active > a:hover{
  color:#fff;
  background-color: #45a1c8;
  border:1px solid #08c;
}
.navbar-fixed-right .nav-tabs{
  border-right-color:#222;
  margin-right:0px;
  height:100%;
}
.navbar-fixed-right .nav-tabs li {
  margin:0px;
}
.navbar-fixed-right .tab-content {
  float:left;
  display:none;
  width:260px;
  height:100%;
}
.navbar-fixed-right .tab-content.active {
  display:block;
}
.navbar-fixed-right .tab-content ul{
  text-align:left;
}
.navbar-fixed-right .tab-content .tab-pane .nav{
  overflow:auto;
}
.navbar-fixed-right .tab-content ul li {
  position:relative;
}
.navbar-fixed-right .tab-content ul li a {
  padding:10px;
  border-left:1px solid #3d3d3d;
}
.navbar-fixed-right .nav li > ul > li {
  margin:0px -15px;
}
.navbar-fixed-right .nav li > ul > li > a {
  text-shadow:none;
}
.navbar-fixed-right .nav > li > a > b {
  position:absolute;
  right:10px;
  top:18px;
}
.navbar-fixed-right .nav>li>ul{
  display:none;
}
.navbar-fixed-right .nav>li.active>ul{
  display:block;
}
.navbar-fixed-right .nav li > ul > li > a,
.navbar-fixed-right .nav li > ul > li.active > a {
  padding-left:30px;
}
/***********************************/
/************** main *************/
/***********************************/
.main {
  padding-top:20px;
  * padding-top:100px;
}
.scroll{
  margin-right:250px;
  position:fixed;
  left:0px;
  top:80px;
  width:82%;
  height:85%;
  overflow:auto;
  * position:none;
  * overflow:none;
}
.title-main {
  position:fixed;
  top:40px;
  width:100%;
  background:#fefefe;
  margin-left:-20px;
  padding-left:20px;
  border-bottom:5px solid #eee;
  z-index:10;
}
.title-main h4{
  color:#777;
  font-weight:400;
  font-family: inherit;
}
.list-menu-right {
  position:fixed;
  top:40px;
  right:38px;
  width:15%;
  background:#fafafa;
  border-left:4px solid #eee;
  height:100%;
  z-index:20;
}
.list-menu-right .form-search{
  margin:0px;
  padding:5px 10px;
  padding-bottom:5px;
}
.list-menu-right .form-search input {
  color:#777;
  width:84%;
}
.list-menu-right .nav-list {
  height:87%;
  overflow:auto;
}
.list-menu-right .nav-list li{
  margin:0px -15px;
  background:#eee;
  border-bottom:1px solid #e4e4e4;
  border-top:1px solid #fff;
  position:relative;
}
.list-menu-right .nav-list li a,
.list-menu-right .nav-list li.active > a {
  margin:0px;
  padding:5px 15px;
  background:#eee;
  color:#777;
  text-shadow:none;
}
.list-menu-right .nav-list > li > ul{
  margin:0px;
  margin:1px 0px -1px 0px;
}
.list-menu-right .nav-list li a:hover,
.list-menu-right .nav-list li.active>a {
  color:#45a1c8;
  background:#f9f9f9;
}
.list-menu-right .nav-list li.nav-header {
  padding:10px 15px 5px 5px;
}
.list-menu-right .nav > li > a:hover > i[class*="icon-"],
.list-menu-right .nav > .active > a > i[class*="icon-"] {
  background-image: url("../img/glyphicons-halflings-blue.png")
}
.list-menu-right .nav > li > a > b {
  position:absolute;
  right:10px;
  top:13px;
  border-top-color:#777;
  border-bottom-color:#777;
}
.list-menu-right .nav > li > a:hover > b,
.list-menu-right .nav > .active > a > b {
  border-top-color:#45a1c8;
  border-bottom-color:#45a1c8;
}
.list-menu-right .nav-list>li>ul{
  display:none;
}
.list-menu-right .nav-list>li.active>ul{
  display:block;
}
.list-menu-right .nav-list li > ul > li > a,
.list-menu-right .nav-list li > ul > li.active > a {
  padding-left:30px;
}
.stats {
  box-shadow:inset 0px 1px 3px #20586f;
  background:#3795bc;
  padding:15px 0px;
   -o-border-radius: 10px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.stats span {
  color:#fff;
  display:block;
  text-align:center;
}
.stats span.number {
  font-size:34px;
  margin:10px 0px;
  text-shadow: 0px 1px 2px #20586f;
}
.add-userlist {
  background:#eee;
  padding:10px;
}
.userlist li {
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dashed #DDD;
  padding: 10px;
  position:relative;
}
.userlist .btn-group {
  position:absolute;
  right:0px;
  top:10px;
}
.userlist li .avatar{
  float: left;
  margin-right: 10px;
  padding: 2px;
  border: 1px solid #EEE;
  width:50px;
  height:50px;
}
.more {
margin-top:10px;
display: block;
text-align: center;
background: #EEE;
padding: 5px 0;
font-size: 12px;
text-transform: uppercase;
border-top: 1px solid #DDD;
}
.more:hover {
  background:#f4f4f4;
}
.toplist li{
  height:50px;
  margin:12px 0px;
  border-bottom: 1px dashed #DDD;
}
.toplist .toplist-right b{
  font-size:30px;
  font-weight:300;
  line-height:1.2em;
  border-left: 1px solid #DDD;
  padding-left:5%;
}
.toplist .toplist-left {
  float:left;
  width:80%;
}
/***********************************/
/************** Nav: tabs, pills, and lists *************/
/***********************************/
.gradient li > a {
  background:#ececec;
}
.gradient li > a,
.gradient .active > a,
.gradient .active > a:hover{
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: whiteSmoke;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(top, white, #E6E6E6);
  background-image: -o-linear-gradient(top, white, #E6E6E6);
  background-image: linear-gradient(to bottom, white, #E6E6E6);
  background-image: -moz-linear-gradient(top, white, #E6E6E6);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.nav-stacked > .active > a,
.nav-stacked > .active > a:hover,
.gradient li > a:hover {
  background:#eee;
  color:#3dacb8;
}
.gradient .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
color: white;
text-shadow:none;
background-image:none;
background-color: #999;
border-color: #999;
}
.nav-list .divider {
  background-color: #b9b9b9;
  border-bottom: 1px solid #f0f0f0;
}
.nav-list.well .divider {
  background-color: #E5E5E5;
  border-bottom: 1px solid white;
}
.nav-list > .active > a, .nav-list > .active > a:hover,
.nav-pills > .active > a, .nav-pills > .active > a:hover {
  color:#fff;
  text-shadow:0px 1px 0px #0074ae;
  background-color: #08C;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0f96d9), to(#0088cc));
  background-image: -webkit-linear-gradient(top, #0f96d9, #0088cc);
  background-image: -o-linear-gradient(top, #0f96d9, #0088cc);
  background-image: linear-gradient(to bottom, #0f96d9, #0088cc);
  background-image: -moz-linear-gradient(top, #0f96d9, #0088cc);
}
.nav .dropdown-toggle .caret {
border-top-color: #60AEB0;
border-bottom-color: #60AEB0;
}
.nav .dropdown-toggle:hover .caret {
border-top-color: #3a9aa4;
border-bottom-color: #3a9aa4;
}
/*******pagination*******/
.pagination a, .pagination span {
float: left;
padding: 0 14px;
line-height: 38px;
text-decoration: none;
background-color: white;
border: 1px solid #DDD;
border-left-width: 0;
}
.pagination .disabled a:hover {
background-color: #eee;
}
.pagination .active a:hover,
.pagination .active a,
.pagination .active span {
  background-image:none;
  background-color:#eee;
  box-shadow:inset 0px 1px 2px #ccc;
}
/************page-form***************/
/************ calendar **************/
.calendar .table tbody tr td,
.calendar .table thead tr th,
.calendar .table tbody tr th {
    padding:20px;
  }
.calendar .table tr td{
  background:none;
  position:relative;
  * z-index:10;
}
.calendar table tr th{
  color:#60AEB0;
}
.calendar table td,.calendar table th {
  text-align:center;
}
.calendar .table tbody tr:hover td,
.calendar .table tbody tr:hover th {
  background:none;
}
.calendar .table tbody tr:nth-child(odd) td,
.calendar .table tbody tr:nth-child(odd) th {
  background:none;
}
.calendar .table tbody tr td:hover,
.calendar .table tbody tr:nth-child(odd) td:hover,
.calendar .table tbody tr td.active {
  background:#3795bc;
  box-shadow: inset 1px 1px 3px #20586F;
  color:#fff;
}
.calendar .table-bordered {
  border-radius:0px;
  -o-border-radius:0px;
  -moz-border-radius:0px;
  -webkit-border-radius:0px;
}
.calendar .header-calendar {
  text-align:center;
  background:#fcfcfc;
  padding:10px 0px 13px 0px;
  color:#60AEB0;
  font-size:16px;
  width:100%;
}
.sidebar .calendar .header-calendar {
  font-size:12px;
  padding:3px 0px 5px 0px;
  height:24px;
  line-height:20px;
}
.calendar .header-calendar a {
  margin:0px 10px;
  padding:3px 4px 1px 4px;
  border:1px solid #ccc;
  border-radius:6px;
  -o-border-radius:6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
}
.calendar .header-calendar a:hover {
  box-shadow: inset 1px 1px 3px #ccc;
}
.box-content.calendar {
  padding:0px;
}
.calendar .table tr .modal {
  position:absolute;
  top:-20px;
  right:-40px;
  margin: 0 auto;
  z-index: 100;
  max-width: 60%;
  overflow:hidden;
  max-height:80px;
  font-size:10px;
}
.calendar table .modal-body,.calendar table .modal-header {
  padding:0px;
}
/************ end calendar **************/
/* Uploader */
div.uploader {
  position:relative;
  height: 28px;
}
div.uploader span.action {
  position:absolute;
  right:0px;
  top:0px;
  width: 85px;
  text-align: center;
  text-shadow: #f9f9f9 0px 1px 0px;
  background: #ddd;
  * background: none;
  font-size: 11px;
  font-weight: bold;
  padding:8px 12px;
}

div.uploader span.filename {
  height: 24px;
  margin: 2px 0px 2px 2px;
  line-height: 24px;
   position:absolute;
  left:0px;
  top:0px;
  color: #777;
  width: 82px;
  border-right: solid 1px #bbb;
  font-size: 11px;
}
div.uploader {
  width: 190px;
  cursor: pointer;
}
div.uploader input {
  width: 190px;
  position:absolute;
  left:0px;
  top:0px;
  z-index:100;
}
/* end Uploader */
.docs-input-sizes select[class*="span"], .docs-input-sizes input[type="text"] {
  display:block;
}
/******* page-login *******/
.page-login {
  margin:0px auto;
  margin-top:10%;
  * margin-top:5%;
  width:300px; 
}
.login-content form{
  border:4px solid #E5E5E5;
  padding:20px 10px;
  -o-border-radius: 10px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
.login-content input[type="text"]{
  width:257px;
}
.login-content form .btn {
  width:267px;
  padding:12px 0px;
}
.login-content form button.btn {
  padding:5px 11px;
  margin-top:10px;
  width:35px;
  position:absolute;
  top:-20px;
  right:0px;
}
#signin h4 {
  margin-top:0px;
}
#signup {
  position:relative;
  display:none;
}
.login-content form legend {
  color:#9A9A9A;
  /*border-bottom: 1px solid #999;*/
  line-height:30px;
}
/******************* icons *****************/
.quick-shortcuts{
    display:inline-block;
    text-align: center;
}
.quick-shortcuts > li{
   /*float:left;*/
   position:relative;
   width:148px;
}

.quick-shortcuts li {
    text-align: center;
    display: inline-block;
}

.quick-shortcuts > li > a {
  color:#777;
  display:block;
   text-align:center;
   background:#f9f9f9;
   padding:10px 0px;
   margin:10px;
   box-shadow:inset 1px 1px 3px #ddd;
   border-radius: 12px;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
         -o-border-radius: 12px;
}
.quick-shortcuts > li > a:hover,
.quick-shortcuts > li.active > a {
  background:#f5f5f5;
  color:#45a1c8;
}
.quick-shortcuts > li > a > span {
  display:block;
}
.quick-shortcuts > li > .badge {
position: absolute;
right: 5px;
top: 5px;
}
.i-home,.i-setting,.i-pricing-plans,.i-setting,
.i-faq,.i-photo,.i-messages,.i-apps,.i-user,.i-notes,
.i-report,.i-comment,.i-bookmark,.i-faq,.i-bookmarks,.i-tags,
.i-logout
 {
  background:url("../img/icon-blue-big.png") left top;
  width:52px;
  height:40px;
  display:inline-block;
}
.quick-shortcuts > li > a:hover > .i-messages{
    background-position: left bottom;
  }
.quick-shortcuts .i-apps{
 background-position: -65px top;
}
  .quick-shortcuts > li > a:hover > .i-apps,
  .quick-shortcuts > li.active > a > .i-apps{
    background-position: -65px bottom;
  }
.quick-shortcuts .i-photo {
  background-position: -130px top;
}
  .quick-shortcuts > li > a:hover > .i-photo,
  .quick-shortcuts > li.active > a >.i-photo{
    background-position: -130px bottom;
  }
.quick-shortcuts .i-notes {
  background-position: -195px top;
}
  .quick-shortcuts > li > a:hover > .i-notes,
  .quick-shortcuts > li.active > a > .i-notes {
    background-position: -195px bottom;
  }
.quick-shortcuts .i-user {
  background-position: -260px top; 
}
  .quick-shortcuts > li > a:hover >.i-user,
  .quick-shortcuts > li.active > a >.i-user {
    background-position: -260px bottom;
  }
.quick-shortcuts .i-report {
  background-position: -325px top;
}
  .quick-shortcuts > li > a:hover >.i-report,
  .quick-shortcuts > li.active > a >.i-report {
    background-position: -325px bottom;
  }
.quick-shortcuts .i-setting {
  background-position: -390px top;
}
  .quick-shortcuts > li > a:hover >.i-setting,
  .quick-shortcuts > li.active > a >.i-setting {
    background-position: -390px bottom;
  }
.quick-shortcuts .i-comment {
  background-position: -455px top;
}
  .quick-shortcuts > li > a:hover >.i-comment,
  .quick-shortcuts > li.active > a >.i-comment {
    background-position: -455px bottom;
  }
.quick-shortcuts .i-pricing-plans {
  background-position: -520px top;
}
  .quick-shortcuts > li > a:hover >.i-pricing-plans,
  .quick-shortcuts > li.active > a >.i-pricing-plans {
    background-position: -520px bottom;
  }
.quick-shortcuts .i-faq {
  background-position: -585px top;
}
  .quick-shortcuts > li > a:hover >.i-faq,
  .quick-shortcuts > li.active > a >.i-faq {
    background-position: -585px bottom;
  }
.quick-shortcuts .i-home {
  background-position: -650px top;
}
  .quick-shortcuts > li > a:hover >.i-home,
  .quick-shortcuts > li.active > a >.i-home {
    background-position: -650px bottom;
  }
.quick-shortcuts .i-bookmarks {
  background-position: -715px top;
}
  .quick-shortcuts > li > a:hover >.i-bookmarks,
  .quick-shortcuts > li.active > a >.i-bookmarks {
    background-position: -715px bottom;
  }
.quick-shortcuts .i-tags {
  background-position: -780px top;
}
  .quick-shortcuts > li > a:hover >.i-tags,
  .quick-shortcuts > li.active > a >.i-tags {
    background-position: -780px bottom;
  }
.quick-shortcuts .i-logout {
  background-position: -845px top;
}
  .quick-shortcuts > li > a:hover >.i-logout,
  .quick-shortcuts > li.active > a >.i-logout {
    background-position: -845px bottom;
  }
/***********************************/
/************** icons *************/
/***********************************/
[class^="icon-"], [class*=" icon-"] { 
  margin-top:0px;
}
.icon-gray {
  background-image: url("../img/glyphicons-halflings-gray.png");
}
.icon-blue {
  background-image: url("../img/glyphicons-halflings-gray.png");
}
.ic-title-box {
  margin-top:-1px;
  background:url('../img/icon-title-box.png') -5px top no-repeat;
  height:42px;
  width:30px;
  float:left;
}
/*********************************/
/******************* end-icon *****************/
/*********************************/
.faq-link li {
  margin-bottom:10px;
}
.faq-text {
  display:table-cell;
  padding-left:1.5%;
}
.faq-link,.faq-search,.faq-list li{
  padding-top:10px;
}
.faq-icon {
  display:table-cell;
  * float:left;
  margin-right:20px;
}
.faq-icon .faq-number{
  color:#fff;
  font-size:15px;
  display:table-cell;
  background: #3795BC;
  box-shadow: inset 0px 1px 3px #20586F;
  padding:3px 9px;
  border-radius: 12px;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
         -o-border-radius: 12px;
}

/***********************************/
/************** thumbnail *************/
/***********************************/
.row-fluid .thumbnails {
  margin-left:-2.564102564102564%;
}
.row-fluid .thumbnails [class*="span"]:first-child {
  margin-left: 2.564102564102564%;
}
.thumbnails>.span12 {
  width:97.43589742%;
}
.thumbnails>.span11 {
  width:89.1025641%;
}
.thumbnails>.span10 {
  width:80.76923072%;
}
.thumbnails>.span9 {
  width:72.43589746%;
}
.thumbnails>.span8 {
  width:64.10256408%;
}
.thumbnails>.span7 {
  width:55.7692308%;
}
.thumbnails>.span6 {
  width:47.43589744%;
}
.thumbnails>.span5 {
  width:39.10256414%;
}
.thumbnails>.span4 {
  width:30.76923077%;
}
.thumbnails>.span3 {
 width:22.43589744%; 
}
.thumbnails>.span2 {
 width:14.1025641%; 
}
.thumbnails>.span1 {
 width:5.76923077%; 
}
.thumbnail-horizontal .thumbnail [class*="span"]:first-child {
  margin-left:0px;
}
.thumbnail-horizontal h5 {
  margin:0px;
}
/******** fix ****** width fluid********/
@media (min-width: 980px) and (max-width: 1200px) {
.row-fluid .thumbnails {
  margin-left:-2.127659574468085%;
}
.row-fluid .thumbnails [class*="span"]:first-child {
  margin-left: 2.127659574468085%;
}
.thumbnails > .span12 {
  width:97.8723405%;
}
.thumbnails > .span11 {
  width:89.53900721%;
}
.thumbnails > .span10 {
  width:81.20567382%;
}
.thumbnails > .span9 {
  width:72.87234053%;
}
.thumbnails > .span8 {
  width:64.53900714%;
}
.thumbnails > .span7 {
  width:56.20567385%;
}
.thumbnails > .span6 {
  width:47.87234046%;
}
.thumbnails > .span5 {
  width:39.53900717%;
}
.thumbnails > .span4 {
  width:31.20567378%;
}
.thumbnails > .span3 {
 width:22.87234049%; 
}
.thumbnails > .span2 {
 width:14.5390071%; 
}
.thumbnails > .span1 {
 width:6.20567376%;
}
.thumbnail-horizontal .thumbnail [class*="span"]:first-child {
  margin-left:0px;
}
.form-horizontal .control-label {
    width:10%;
  }
  .form-horizontal .controls {
    margin-left:15%;
  }
  .scroll {
    width:79%;
  }
  .list-menu-right {
    width:200px;
  }
}


@media (min-width: 768px) and (max-width: 979px) {
  .row-fluid .thumbnails {
    margin-left:-2.7624309392265194%;
  }
  .row-fluid .thumbnails [class*="span"]:first-child {
    margin-left: 2.7624309392265194%;
  }
  .thumbnails > .span12 {
    width:97.237569%;
  }
  .thumbnails > .span11 {
    width:88.9042357%;
  }
  .thumbnails > .span10 {
    width:80.5709024%;
  }
  .thumbnails > .span9 {
    width:72.23756899%;
  }
  .thumbnails > .span8 {
    width:63.90423572%;
  }
  .thumbnails > .span7 {
    width:55.57090235%;
  }
  .thumbnails > .span6 {
    width:47.23756908%;
  }
  .thumbnails > .span5 {
    width:38.90423571%;
  }
  .thumbnails > .span4 {
    width:30.57090234%;
  }
  .thumbnails > .span3 {
   width:22.23756907%; 
  }
  .thumbnails > .span2 {
   width:13.9042357%; 
  }
  .thumbnails > .span1 {
   width:5.57090239%;
  }
  .navbar-fix .navbar-inner,
  .navbar-fix .navbar-inner {
  padding: 0px 40px 0px 0px;
  }
  .navbar-fixed-right {
  top: 0px;
  padding-top:40px;
  }
  .thumbnail-horizontal .thumbnail [class*="span"]:first-child {
    margin-left:0px;
  }
  .navbar-fix .nav > li > a {
    border:none;
  }
  .form-horizontal .control-label {
    width:10%;
  }
  .form-horizontal .controls {
    margin-left:15%;
  }
  .scroll {
    width:75%;
  }
  .list-menu-right {
    width:200px;
  }

}


@media (min-width: 480px) and (max-width: 767px) { 
  .row-fluid .thumbnails [class*="span"] {
  margin-left: 2.7624309392265194%;
  }
  .row-fluid [class*="span"] {
  width: 98%;
  }
  .navbar-fix .navbar-inner,
  .navbar-fix .navbar-inner {
  padding: 0px 40px 0px 0px;
  }
  .navbar-fixed-right {
  top: 0px;
  padding-top:40px;
  }
  .thumbnail-horizontal .thumbnail [class*="span"]:first-child {
    margin-left:0px;
  }
  .thumbnail-horizontal .thumbnail [class*="span"] {
    margin-left:0px;
  }

  .navbar-fix .nav > li > a {
    border:none;
  }
  .calendar .table tbody tr td,
  .calendar .table thead tr th,
  .calendar .table tbody tr th {
    padding:10px;
  }
  .stats {
    margin-bottom:20px;
  }
  .scroll {
    width:90%;
    padding-right:20px;
    padding-left:10px;
  }
  .list-menu-right {
    display:none;
  }
}
@media (min-width: 100px) and (max-width:479px){
  .row-fluid .thumbnails [class*="span"] {
  margin-left: 2.7624309392265194%;
  }
  .row-fluid [class*="span"] {
  width: 98%;
  }
  .navbar-fix .navbar-inner,
  .navbar-fix .navbar-inner {
  padding: 0px 40px 0px 0px;
  }
  .navbar-fixed-right {
  top: 0px;
  padding-top:40px;
  }
  .thumbnail-horizontal .thumbnail [class*="span"] {
    margin-left:0px;
  }

  .navbar-fix .nav > li > a {
    border:none;
  }

  .calendar .table tbody tr td,
  .calendar .table thead tr th,
  .calendar .table tbody tr th {
    padding:10px;
  }
  .stats {
    margin-bottom:20px;
  }
  .scroll {
    width:85%;
    padding-right:20px;
    padding-left:10px;
  }
  .list-menu-right {
    display:none;
  }
}

.m-dropdown-menu {
    background-color: #333; 
}

.m-dropdown-menu .divider{
    background-color: #222;
    border-bottom: 1px solid #444;
}

.navbar .nav > li > .m-dropdown-menu::after {
    border-bottom: 6px solid #333;
}

/******** end fix width fluid ********/
/*
1.28205128
7.05128205
2.35042735

0.21367521

14.31623932

0.21367521
ta goi khoang cach margin-left mat de la (C): 
C = 2.564102564102564%

lay margin-left bi mat (C) de ta chia cho 12 thi ta duoc margin-left bi mat de cua tung cot span
(D) = C : 12 = 0.21367521%

lay width span1 co san cua bootstrap tru de (D)
5.982905982905983% - (D) = (E)   

(E=5.76923077%)
vay ta co (E) la kich thuoc cua span1 can tim (HAHAHA….)

tinh cac span con lai nhu sau :
C = 2.564102564102564%   ta co F = C : 2 
(F) la kich thuoc chia doi cua margin-left
span1 lay  E      = span1
span2 lay (E+F) X  2 = span2
span3 lay ((E+F)X 3) + F = span3
span4 lay ((E+F)X 4) + FX2=span4
span5 lay ((E+F)X 5) + FX3=span5
span6 lay ((E+F)X 6) + FX4=span6
span7 lay ((E+F)X 7) + FX5=span7
span8 lay ((E+F)X 8) + FX6=span8
span9 lay ((E+F)X 9) + FX7=span9
span10 lay ((E+F)X 10) + FX8=span10
span11 lay ((E+F)X 11) + FX9=span11
*/


